<style>
    .sidenav {
      height: 100%; /* Full-height: remove this if you want "auto" height */
      width: 20%; /* Set the width of the sidebar */
      position: fixed; /* Fixed Sidebar (stay in place on scroll) */
      z-index: 1; /* Stay on top */
      top: 20; /* Stay at the top */
      left: 0;
      background-color: white; /* Black */
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 20px;
      border: #000000;
    }
    
    /* The navigation menu links */
    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 15px;
      color: #818181;
      display: block;
     
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
      color: blue;
    }
    
    
    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    </style>
    <div class="sidenav">
        {% for item in site.data.toc.toc %}
        <h4>{{ item.title }}</h4>
        <ul>
           {% for entry in item.subfolderitems %}
           <li><a href="{{ entry.url }}">{{ entry.page }}</a></li>
           {% endfor %}
        </ul>
        {% endfor %}
     </div>